.slider {
  width: 15em;

  position: relative;
}

.wrapper button {
  width: 10em;
  height: 3em;
  background-color: #4cb1ca;
  color: white;
  border: none;
  position: absolute;
  top: 20em;
  left: 3em;
  z-index: 1000;
}

.wrapper {
  padding: 15px;
  border: 2px solid #f5f5f5;
  border-top: 3px solid #4cb1ca;
  margin-top: 50px;
}

@media (max-width: 640px) {
  .wrapper {
    display: none;
  }
}

@media (min-width: 640px) and (max-width: 870px) {
  .slider {
    margin: 0 auto;
  }
}
