.navigation {
  display: flex;
  justify-content: space-between;
  min-width: 350px;
}

.navigation a,
h1 {
  color: #656565;
  text-transform: uppercase;
}

.navigation a {
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

h1 {
  font-size: 36px;
}

.active {
  border-bottom: 3px solid #4cb1ca;
}
