.wrapper {
  background-color: royalblue;
}

.header {
}
.headerButton {
}
@media (max-width: 640px) {
  .header {
    border: 1px solid red;
  }
  .headerButton {
    display: inline-block;
    font-size: 0.7em;
    padding: 0.1em;
    border: 1px solid black;
  }
}
