.wrapper {
}

h2 {
  font-size: 1.2em;
  color: #656565;
  text-transform: uppercase;
}

@media (max-width: 870px) {
  h2 {
    font-size: 1.2em;
    color: #656565;
    text-transform: uppercase;
  }
}
