.wrapper {
  background-color: #39a0b9;
  padding: 1em;
}

.contacts p {
  display: inline-block;
  margin-left: 1em;
}
.contacts h3 {
  text-transform: uppercase;
  font-size: 1.5em;
}

.facebook {
  text-align: center;
}
.twitter {
  text-align: center;
}

.tweet p {
  width: 80%;
  vertical-align: middle;
}
.tweet {
}
.icon {
  background-color: white;
  height: 3em;
  width: 3em;
  color: #4cb1ca;
  border-radius: 3em;
  text-align: center;
  vertical-align: middle;
  padding: 0.5em;
  box-sizing: border-box;
  display: inline-block;
}
.information,
.contactUs {
  text-align: center;
}
.information ul {
  list-style: none;
  padding: 0;
}

.information ul li::before {
  content: ">";

  margin-right: 1em;
}

.information ul li {
  padding-top: 1em;
}

.socialButton {
}

.contactUs {
}

.socialButton .icon {
  width: 2.5em;
  height: 2.5em;
  margin-right: 1em;
}
