@media (max-width: 870px) {
  .wrapper {
    width: 100%;
  }
  h1 {
    display: block;
    width: 5em;
    font-size: 2em;
    text-align: center;
    margin: 0.6em auto;
  }
}

@media (max-width: 1280px) and (min-width: 870px) {
  .wrapper {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .wrapper {
    margin: 0 auto;
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
