.wrapper {
  padding: 1em;
}
.content {
}

@media (max-width: 640px) {
  .wrapper {
    padding: 1em;
  }
}
@media (min-width: 870px) {
  .content {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 1em;
    width: 80%;
    margin: 0 auto;
  }
  .mainContent {
    grid-column-start: 1;
    grid-column-end: 2;
  }
  .aside {
    grid-column-start: 2;
    grid-column-end: 3;
  }
}

@media (min-width: 1280px) {
  .content {
    width: 1024px;
  }
}
