.searchBar input {
  min-width: 8em;
  padding: 0.1em;
  font-size: 1em;
  color: #656565;
  border: 1px solid #c6c6c6;
}

@media (max-width: 640px) {
  .searchBar input {
    width: 100%;
    padding: 0.3em;
  }
  .searchBar {
    margin: 5%;
  }
}
