.wrapper {
  background-color: #0b4b5a;
}

.mainFooter {
  color: #39a0b9;
  text-align: center;
}

.menu a {
  color: #39a0b9;
  text-decoration: none;

  padding: 0 1em;
  border-right: 1px solid #39a0b9;
}
